.todo-app {
    text-align: center;
    margin-top: 50px;
    background-color: white;
    color: salmon;
}
  
form {
    margin-bottom: 20px;
}
  
input {
    padding: 10px;
    font-size: 16px;
}
  
button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
li button {
    background: rgb(155, 91, 91);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}